@using Ponera.Base.Models
@model IList<Ponera.Base.Models.UserModel>

@{
    ViewBag.Title = "Ponera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Tanım</h2>

<div class="portlet box purple ">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Form
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form" style="display: block;">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Adı</label>
                    <div class="col-md-10">
                        <input id="FirstName" type="text" class="form-control" placeholder="Ad">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Soyadı</label>
                    <div class="col-md-10">
                        <input id="LastName" type="text" class="form-control" placeholder="Soyad">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input id="Email" type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Şifre</label>
                    <div class="col-md-10">
                        <input id="Password" type="text" class="form-control" placeholder="Şifre">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 right1">
                    <input id="submitButton" type="button" value="Kaydet" class="btn btn-default" />
                    <input id="resetButton" type="button" value="Temizle" class="btn btn-default" />
                    <input id="deleteButton" type="button" value="Sil" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">Kullanıcılar</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Id
                                activate to sort column descending" aria-sort="ascending" style="width: 193px;">Id</th>
                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Ad
                                activate to sort column ascending" style="width: 286px;">Ad</th>
                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Soyad
                                activate to sort column ascending" style="width: 286px;">Soyad</th>
                            <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Email
                                activate to sort column ascending" style="width: 286px;">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            string rowClass = i % 2 == 0 ? "gradeX even" : "gradeX odd";
                            UserModel userModel = Model[i];

                            <tr class="@rowClass" role="row">
                                <td class="sorting_1">@userModel.Id</td>
                                <td class="sorting_1">@userModel.FirstName</td>
                                <td class="sorting_1">@userModel.LastName</td>
                                <td class="sorting_1">@userModel.Email</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>